body {
  --color-red: #bb0000;
  --color-gray: #424242;
  background: #000;
  color: #fff;
  font-family: 'Source Sans Pro', sans-serif;
  font-size: 42px;
  margin: 0;
  overflow: hidden;
  padding: 0;
  text-rendering: optimizeLegibility;
}

* {
  box-sizing: border-box;
}