body {
  --color-red: #BB0000;
  background: #000;
  color: #fff;
  font-family: 'Source Sans Pro', sans-serif;
  font-size: 42px;
  margin: 0;
  overflow: hidden;
  padding: 0;
  text-rendering: optimizeLegibility;
}
